header {
  background-color: rgb(112,173,71);
}

#body-section-photo {
  background-color: rgb(255,199,46);
  text-align: center;
}

#artist-details {
  background-color: grey;
  padding: 30px;
  margin-bottom: 5px;
}

#artist-tracks {
  background: darkgrey;
  padding: 30px;
}